html,
body,
ul,
li {
	margin: 0;
	padding: 0;
	font-family: proxima-nova, "lft-etica";
}

body {
  padding: 0 0em;
}

a {
  text-decoration: none;
  color: #dadada;
}

section h3 {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
  max-width: 600px;
  margin: 0 auto;
  color: #cacaca;
  padding: 2em 0 1em;
}

.main {
  padding: 0 2.5%;
}

.dribbble {
  padding: 0 0 4em;
  background-color: #EA4C89;
}

.dribbble img {
  width: 100%;
}

.feature {
  padding: 2.5em 0;
}

#about {
  background: #57ADCD;
  padding: 4em 0;
}

/*#about {
  background: #57ADCD;
  position: relative;
  height: 100vh;
  min-height: 44em;
}

#about .main {
  display: table;
  margin: 0 auto;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#about .container,
#about .container-small {
  display: table-cell;
  vertical-align: middle;
}*/

#about h1.title {
  text-align: center;
  margin: 0;
  margin-bottom: 1em;
  color: #333;
  font-size: 6em;
  text-transform: uppercase;
}

#about a {
  color: #FFF;
}

#about h1.title,
#about p {
  color: #FFF;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

.container-small {
  width: 100%;
  margin: 0 auto;
  max-width: 850px;
}

.container h2 {
  margin-top: 0;
  color: #333;
  font-size: 6em;
  text-align: center;
  margin-top: 2em;
  text-transform: uppercase;
}

.dribbble h2 {
  color: #FFF;
}

.container p,
.container-small p {
  margin-top: 0;
  font-size: 5.4em;
  color: #555;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: -3px;
  font-family: Helvetica Neue;
}

@media (max-width: 700px) {
  #about h1.title,
  .container h2 {
    font-size: 3em;
  }
  .container p,
  .container-small p {
    font-size: 3em;
  }
}

.container-small p {
}

.container-small span {
  font-family: freight;
  font-style: italic;
}
.container .pure-u-1-2 h2 {
}

.container .pure-u-1-2 h4 {
  margin-top: 0;
  color: #333;
}

/* HERE ARE SOME HOVER ANIMATIONS WRITTEN BY JUSTIN AGUILAR (@JXTN) */

a.animated {
	position: relative;
}
a.animated:before {
	content: '';
	height: 2px;
	position: absolute;
	bottom: -4px;
	left: 50%;
	right: 50%;
	background-color: #212121;
	transition: 0.35s;
	transition-property: left, right;
}a.animated:hover:before {
	left: 0;
	right: 0;
}a.animated.white:before {
  background-color: #FFF;
}

/* Navigation Styles */

.nav#bar-navigation {
  position: absolute;
  width: 100%;
  background-color: #FFF;
  z-index: 10;
  padding: 1em 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}

.nav#bar-navigation.visible {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform .2s,background .3s,color .3s;
  -moz-transition: -moz-transform .2s,background .3s,color .3s;
  -o-transition: -o-transform .2s,background .3s,color .3s;
  transition: transform .2s,background .3s,color .3s;
}

.nav#bar-navigation.hidden {
  opacity: 0;
  -webkit-transform: translate3d(0,-80px,0);
  -moz-transform: translate3d(0,-80px,0);
  -ms-transform: translate3d(0,-80px,0);
  -o-transform: translate3d(0,-80px,0);
  transform: translate3d(0,-80px,0);
  -webkit-transition: -webkit-transform .2s,background .3s,color .3s,opacity 0 .3s;
  -moz-transition: -moz-transform .2s,background .3s,color .3s,opacity 0 .3s;
  -o-transition: -o-transform .2s,background .3s,color .3s,opacity 0 .3s;
  transition: transform .2s,background .3s,color .3s,opacity 0 .3s;
}

.nav#bar-navigation.detached {
  background: #fff;
  /*background: rgba(27,147,199, 1);*/
  color: #333;
  /*box-shadow: 0px 3px rgba(0,0,0,0.1);*/
  position: fixed;
  top: 0;
}


.nav#bar-navigation .logo {
  float: left;
}

.nav#bar-navigation .logo img {
  width: 40px;
  -webkit-transition: width 400ms cubic-bezier(.77,0,.175,1);
  -moz-transition: width 400ms cubic-bezier(.77,0,.175,1);
  -o-transition: width 400ms cubic-bezier(.77,0,.175,1);
  -ms-transition: width 400ms cubic-bezier(.77,0,.175,1);
  transition: width 400ms cubic-bezier(.77,0,.175,1);
}

.nav#bar-navigation.big .logo img {
  width: 70px;
}

.nav#bar-navigation.big {
  background-color: rgba(0,0,0,0);
}

@media (max-width: 650px) {
  .nav#bar-navigation.big .logo img,
  .nav#bar-navigation .logo img {
    width: 30px;
  }
}

nav {
  float: right;
}

nav a {
  display: inline-block;
  margin: 22.5px 0.5em;
  color: rgba(0,0,0,0.5);
  font-weight: 900;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.5em;
}
nav a:hover {
  color: rgba(0,0,0,1);
}

.big nav a {
  margin: 45px 0.5em;
  color: rgba(255,255,255,0.5);
}
.big nav a:hover {
  color: #fff;
}

.big nav a.animated:before,
.banner a:before,
#about a:before {
  background-color: #FFF;
}.banner a:before,
#about a:before {
  height: 4px;
}
#about a {
  opacity: 0.7;
}

@media (max-width: 650px) {
  .big nav a,
  nav a {
    margin: 13px 0.3em;
  }
}

@media (max-width: 500px) {
  nav a {
    font-size: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
}

/* START STYLE OF MAIN BODY HERE */

.site-width {
  width: 87%;
  margin: 0 auto;
}

.banner-copy-width {
  width: 92%;
  margin-left: 5%;
}

.copy-width {
  width: 90%;
  margin-left: 5%;
}

section {
  overflow: hidden;
}

.device {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 0;
  opacity: 0.3;
}

.device img {
  position: absolute;
  left: -233px;
}
@media (max-width: 650px) {
  .device {
    top: 30%;
  }
  .device img {
    left: -150px;
    width: 300px;
  }
}

h1.title {
  font-size: 3em;
  letter-spacing: -2px;
  z-index: 10;
}

.banner {
  /*background: #5cc1af;*/
  background: #393F4F;
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
}

.banner h1.title {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -49%);
  -moz-transform: translate(-50%, -49%);
  -ms-transform: translate(-50%, -49%);
  -o-transform: translate(-50%, -49%);
  transform: translate(-50%, -49%);
  -webkit-font-smoothing: antialiased;
  color: white;
  font-size: 3.8em;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.1;
  position: absolute;
  text-rendering: optimizelegibility;
  top: 50%;
  left: 50%;
  padding: 0 3%;
  width: 100%;
  max-width: 960px;
  z-index: 2;
}

@media (max-width: 650px) {
  .banner h1.title {
    font-size: 2em;
  }
}

.banner a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color:rgba(255,255,255,0.5);
}
.banner a:hover {
  color:rgba(255,255,255,1); 
}

.back-img {
  background: url(../img/coffee.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.desk {
  background: url(http://static.pexels.com/wp-content/uploads/2015/04/apple-cable-charging-5263.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.desk2 {
  background: url(http://static.pexels.com/wp-content/uploads/2015/03/apple-black-and-white-camera-5168.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

@media (max-width: 650px) {
  h1.title {
    font-size: 3em;
    letter-spacing: -3px;
  }

  .back-img {
    bottom: 40%;
  }
}

@media (max-width: 500px) {
  h1.title {
    font-size: 2em;
    letter-spacing: -1px;
  }
}

.more {
  padding: 3em 0;
}

/* Work blocks on the homepage */

.work {
  padding-top: 2em;
}

.work-container {
  margin: 0;
  padding: 4%;
}

.work-container img {
  width: 100%;
}

/* Services grid */



/* NEXT PROJECT */

.next-project {
  position: relative;
  margin: auto;
  width: 100%;
  height: 400px;
  line-height: 400px;
}

.next-project h1 {
  margin: 0;
  text-align: center;
  font-size: 5em;
  letter-spacing: -5px;
  color: #000;
  z-index: 1;
  cursor: pointer;

}
.next-project h1 a {
  color: #000;
    -webkit-transition: color 800ms cubic-bezier(.77,0,.175,1);
  -moz-transition: color 800ms cubic-bezier(.77,0,.175,1);
  -o-transition: color 800ms cubic-bezier(.77,0,.175,1);
  -ms-transition: color 800ms cubic-bezier(.77,0,.175,1);
  transition: color 800ms cubic-bezier(.77,0,.175,1);
}
.next-project h1 a:hover {
  color: #FFF;
}

.next-project span.back {
  background: url(../img/webpage-banner-logo.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transition: opacity 800ms cubic-bezier(.77,0,.175,1);
  -moz-transition: opacity 800ms cubic-bezier(.77,0,.175,1);
  -o-transition: opacity 800ms cubic-bezier(.77,0,.175,1);
  -ms-transition: opacity 800ms cubic-bezier(.77,0,.175,1);
  transition: opacity 800ms cubic-bezier(.77,0,.175,1);
  opacity: 0;
  z-index: -1;
}

.next-project span.back.hover {
  opacity: 1;
}

/* Projects */

#portfolio {

}

/* Thank you */

.thank-you {
  color: #dadada;
  text-align: center;
  padding: 100px 0;
}



/*CODYHOUSE CODE*/

/* -------------------------------- 

Primary style

-------------------------------- */
li {
  list-style-type: none;
}
*, *::after, *::before {
  box-sizing: border-box;
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */
.overflow-hidden {
  overflow: hidden;
}

/* -------------------------------- 

Main content

-------------------------------- */
.cd-main {
  max-width: 1100px;
  margin: 0 auto;
}
.cd-main::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}
.cd-main > * {
  -webkit-transition: -webkit-transform 0.5s 0.4s;
  -moz-transition: -moz-transform 0.5s 0.4s;
  transition: transform 0.5s 0.4s;
}
.cd-main.fold-is-open > * {
  /* on mobile - translate .cd-main content to the right when the .cd-folding-panel is open */
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s 0s;
  -moz-transition: -moz-transform 0.5s 0s;
  transition: transform 0.5s 0s;
}
@media only screen and (min-width: 600px) {
  .cd-main.fold-is-open > * {
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -ms-transform: translateX(600px);
    -o-transform: translateX(600px);
    transform: translateX(600px);
  }
}
@media only screen and (min-width: 700px) {
  .cd-main::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  .cd-main.fold-is-open > * {
    /* reset style - on bigger devices we translate the gallery items */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.cd-gallery::after {
  clear: both;
  content: "";
  display: table;
}
.cd-gallery::before {
  /* this is the dark layer covering the .cd-gallery when the .cd-folding-panel is open */
  display: block;
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s 0.4s, visibility 0s 0.9s;
  -moz-transition: opacity 0.5s 0.4s, visibility 0s 0.9s;
  transition: opacity 0.5s 0.4s, visibility 0s 0.9s;
}
.fold-is-open .cd-gallery::before {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.5s 0s, visibility 0s 0s;
  transition: opacity 0.5s 0s, visibility 0s 0s;
}

.cd-item {
  width: 100%;
  height: auto;
  text-align: center;
  /*margin-bottom: -3px;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s 0.4s;
  -moz-transition: -moz-transform 0.5s 0.4s;
  transition: transform 0.5s 0.4s;
}

.cd-item img {
  width: 100%;
}
.cd-item > a {
  display: table;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-item > a.dark-text {
  color: #363558;
}
.cd-item > a.dark-text b {
  border-color: #363558;
}
.cd-item div {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}
.cd-item:nth-of-type(1) {
}
.cd-item:nth-of-type(2) {
}
.cd-item:nth-of-type(3) {
}
.cd-item:nth-of-type(4) {
}
.cd-item h2 {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-size:2em;
  margin: 0;
  position: absolute;
  bottom: 20%;
  left: 5%;
  width: auto;
  font-weight: 900;
  font-family: helvetica;
  letter-spacing: -2px;
  opacity: 0;
  color: #000;
}
.cd-item h2.large {
  font-size: 4em;
}
.cd-item p {
  line-height: 1.2;
  font-size: 1.4rem;
  opacity: 0.6;
  padding: 1em 0;
}
.cd-item b {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1em 1.3em;
  border-radius: 50em;
  border: 1px solid #ffffff;
}
@media only screen and (min-width: 700px) {

  .cd-item {
    width: 100%;
    float: left;
    height: auto;
    -webkit-transition: -webkit-transform 0.5s 0.4s;
    -moz-transition: -moz-transform 0.5s 0.4s;
    transition: transform 0.5s 0.4s;
  }

  .cd-item.two-three {
    width: 66.666666%;
  }
  .cd-item.one-three {
    width: 33.33333333%;
  }
  .cd-item:nth-of-type(1) {
    padding-left: 0;
  }
  .cd-item:nth-of-type(2) {
    padding-right: 0;
  }
  .cd-item:nth-of-type(3) {
    padding-right: 0;
    padding-top: 0;
  }
  .cd-item:nth-of-type(4) {
    padding-right: 0;
  }
  .cd-item h2 {
    z-index: 100;
  }
  .cd-item p {
    font-size: 1.6rem;
  }
  .cd-item h2, .cd-item p {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: -webkit-transform 0.3s 0.1s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s 0.1s, opacity 0.3s;
    transition: transform 0.3s 0.1s, opacity 0.3s;
  }
  .cd-item b {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, transform 0.3s 0s;
  }

  .cd-item a {

  }

  .no-touch .cd-item a:hover img {

  }
  .no-touch .cd-item a:hover h2, .no-touch .cd-item a:hover p {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s;
    transition: transform 0.3s 0s;
    opacity: 1;
  }
  .no-touch .cd-item img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .no-touch .cd-item a:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    opacity: 0.3;
  }
  .no-touch .cd-item a:hover b {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
    -moz-transition: opacity 0.3s 0.1s, -moz-transform 0.3s 0.1s;
    transition: opacity 0.3s 0.1s, transform 0.3s 0.1s;
  }
  .fold-is-open .cd-item,
  .fold-is-open .cd-item:nth-of-type(4) {
    -webkit-transition: -webkit-transform 0.5s 0s;
    -moz-transition: -moz-transform 0.5s 0s;
    transition: transform 0.5s 0s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .fold-is-open .cd-item:nth-of-type(2),
    .fold-is-open .cd-item:nth-of-type(3) {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

/* -------------------------------- 

folding panel

-------------------------------- */
.cd-folding-panel {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: visibility 0s 0.9s;
  -moz-transition: visibility 0s 0.9s;
  transition: visibility 0s 0.9s;
}
.cd-folding-panel .fold-left,
.cd-folding-panel .fold-right {
  /* the :after elements of .fold-left and .fold-right are the 2 fold sides */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* enable a 3D-space for children elements */
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
}
.cd-folding-panel .fold-left::after,
.cd-folding-panel .fold-right::after {
  /* 2 fold sides */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s 0.4s, background-color 0.5s 0.4s;
  -moz-transition: -moz-transform 0.5s 0.4s, background-color 0.5s 0.4s;
  transition: transform 0.5s 0.4s, background-color 0.5s 0.4s;
}
.cd-folding-panel .fold-right {
  -webkit-perspective-origin: 0% 50%;
  -moz-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.cd-folding-panel .fold-right::after {
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: translateX(-100%) rotateY(-90deg);
  -moz-transform: translateX(-100%) rotateY(-90deg);
  -ms-transform: translateX(-100%) rotateY(-90deg);
  -o-transform: translateX(-100%) rotateY(-90deg);
  transform: translateX(-100%) rotateY(-90deg);
  background-color: #c0c3c3;
}
.cd-folding-panel .fold-left {
  /* on mobile only the right fold side is visible */
  display: none;
}
.cd-folding-panel .fold-left::after {
  background-color: #f9fafa;
}
.cd-folding-panel .cd-close {
  /* 'X' close icon */
  position: absolute;
  z-index: 1;
  display: inline-block;
  top: 10px;
  right: 10px;
  height: 44px;
  width: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s;
  -moz-transition: opacity 0.2s 0s;
  transition: opacity 0.2s 0s;
}
.cd-folding-panel .cd-close::after, .cd-folding-panel .cd-close::before {
  /* lines of 'X' icon */
  content: '';
  position: absolute;
  height: 6px;
  width: 32px;
  border-radius: 6px;
  left: 50%;
  top: 50%;
  background-color: #e5ebf1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-folding-panel .cd-close::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.cd-folding-panel .cd-close::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.cd-folding-panel.is-open {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-folding-panel.is-open .fold-right::after,
.cd-folding-panel.is-open .fold-left::after {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s 0s, background-color 0.5s 0s;
  -moz-transition: -moz-transform 0.5s 0s, background-color 0.5s 0s;
  transition: transform 0.5s 0s, background-color 0.5s 0s;
}
.cd-folding-panel.is-open .fold-right::after {
  background-color: #f9fafa;
}
.cd-folding-panel.is-open .cd-close {
  opacity: 1;
  -webkit-transition: opacity 0.2s 0.5s;
  -moz-transition: opacity 0.2s 0.5s;
  transition: opacity 0.2s 0.5s;
}
@media only screen and (min-width: 600px) {
  .cd-folding-panel {
    width: 600px;
  }
}
@media only screen and (min-width: 700px) {
  .cd-folding-panel {
    left: 0%;
    right: auto;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
  }
  .cd-folding-panel .fold-left,
  .cd-folding-panel .fold-right {
    width: 50%;
    float: left;
    height: 100%;
  }
  .cd-folding-panel .fold-right {
    /* change perspective-origin so that the 2 fold sides have the same vanishing point */
    -webkit-perspective-origin: 0% 50%;
    -moz-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
  }
  .cd-folding-panel .fold-right::after {
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
    -moz-transform: translateX(-100%) rotateY(-90deg);
    -ms-transform: translateX(-100%) rotateY(-90deg);
    -o-transform: translateX(-100%) rotateY(-90deg);
    transform: translateX(-100%) rotateY(-90deg);
  }
  .cd-folding-panel .fold-left {
    display: block;
    /* change perspective-origin so that the 2 fold sides have the same vanishing point */
    -webkit-perspective-origin: 100% 50%;
    -moz-perspective-origin: 100% 50%;
    perspective-origin: 100% 50%;
  }
  .cd-folding-panel .fold-left::after {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: translateX(100%) rotateY(90deg);
    -moz-transform: translateX(100%) rotateY(90deg);
    -ms-transform: translateX(100%) rotateY(90deg);
    -o-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg);
  }
}


/*Folding case content*/

.cd-fold-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 4em 0em;
  padding-bottom: 0px;
  visibility: hidden;
  background-color: #FFF;
  -webkit-transition: visibility 0s 0.4s;
  -moz-transition: visibility 0s 0.4s;
  transition: visibility 0s 0.4s;
  text-align: center;
}
.cd-fold-content .site-width .copy-width > * {
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
}
.cd-fold-content img {
  max-width: 750px;
  width: 100%;
}
.cd-fold-content .hero {
  position: absolute;
  top: -10%;
  height: 80%;
  left: 0;
  right: 0;
  background-color: #333;
}
.cd-fold-content h2 {
  font-size: 2.4rem;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.2s 0.2s, opacity 0.2s 0.2s;
  -moz-transition: -moz-transform 0.2s 0.2s, opacity 0.2s 0.2s;
  transition: transform 0.2s 0.2s, opacity 0.2s 0.2s;
}
@media (max-width: 500px) {
  .cd-fold-content h2 {
    margin-bottom: 0;
  }
}
.cd-fold-content p, .cd-fold-content em {
  line-height: 1.6;
}
@media (max-width: 500px) {
  .cd-fold-content p, .cd-fold-content em {
    line-height: 1.2;
    font-size: 1em;
  }
}
.cd-fold-content em {
  display: inline-block;
  margin: 1em 0;
  font-family: "Vollkorn", serif;
  font-size: 1.8rem;
  color: #369dde;
  -webkit-transition: -webkit-transform 0.2s 0.1s, opacity 0.2s 0.1s;
  -moz-transition: -moz-transform 0.2s 0.1s, opacity 0.2s 0.1s;
  transition: transform 0.2s 0.1s, opacity 0.2s 0.1s;
}
.cd-fold-content p {
  color: #787f8c;
  margin-bottom: 1em;
  font-size: 1.4rem;
  -webkit-transition: -webkit-transform 0.2s 0s, opacity 0.2s 0s;
  -moz-transition: -moz-transform 0.2s 0s, opacity 0.2s 0s;
  transition: transform 0.2s 0s, opacity 0.2s 0s;
}
.is-open .cd-fold-content {
  overflow-y: auto;
  visibility: visible;
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s;
}
.is-open .cd-fold-content .site-width .copy-width > * {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.is-open .cd-fold-content .site-width .copy-width h2 {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.2s 0.5s, opacity 0.2s 0.5s;
  -moz-transition: -moz-transform 0.2s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.2s 0.5s, opacity 0.2s 0.5s;
}
.is-open .cd-fold-content .site-width .copy-width em {
  -webkit-transition: -webkit-transform 0.2s 0.6s, opacity 0.2s 0.6s;
  -moz-transition: -moz-transform 0.2s 0.6s, opacity 0.2s 0.6s;
  transition: transform 0.2s 0.6s, opacity 0.2s 0.6s;
}
.is-open .cd-fold-content .site-width .copy-width p, 
.is-open .cd-fold-content .site-width .copy-width img {
  -webkit-transition: -webkit-transform 0.2s 0.7s, opacity 0.2s 0.7s;
  -moz-transition: -moz-transform 0.2s 0.7s, opacity 0.2s 0.7s;
  transition: transform 0.2s 0.7s, opacity 0.2s 0.7s;
}
@media only screen and (min-width: 600px) {
  .cd-fold-content h2 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 700px) {
  .cd-fold-content {
    padding: 4em 0;
  }
  .cd-fold-content > * {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  .cd-fold-content em {
    font-size: 2.2rem;
  }
  .cd-fold-content p {
    font-size: 1.6rem;
  }
}

/*folding content custom styles*/


.cd-fold-content img.small {
  width: 70%;
  max-width: 700px;
}

.cd-fold-content img.ios {
  width: 70%;
  max-width: 250px;
}

.cd-fold-content p {
  text-align: left;
  padding: 1.5em 0 0.5em;
}

.cd-fold-content a {
  color: #369dde;
}

.cd-fold-content p em {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.cd-fold-content h6 {
  font-size: 1em;
  color: #cacaca;
}

.cd-fold-content .btn {
  padding: 1.1em 1.5em;
  border-radius: 6px;
  background-color: #5cc1af;
  line-height: 2em;
  color: #FFF;
  font-weight: 900;
  font-size: 1.2em;
}

.btn.pink {
  background-color: #EA4C89;
}

.cd-fold-content .white {
  color: #fff;
}

/* -------------------------------- 

Javascript disabled

-------------------------------- */
.no-js .cd-fold-content.single-page {
  position: static;
  visibility: visible;
  height: auto;
  background-color: #f2f2f2;
}
.no-js .cd-fold-content.single-page > * {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/*End of copyhouse code*/



footer{
  background-color: #f2f5f8;
  text-align: center;
}
footer .site-width {
  border-top: 1px solid #dadada;
}

footer a {
  color: #369dde;
}

footer h4 {
  margin: 0;
  padding: 1.5em;
  font-weight: 300;
  color: #939393;
}

.cd-fold-content footer {
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -o-transform: translateY(60px);
  transform: translateY(60px);
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.social-links {
  width: 100%;
  text-align: center;
  padding-bottom: 1.2em;
}
.social-links a {
  font-size: 1.9em;
  padding: 0 0.3em;
}






