html,
body,
ul,
li {
	margin: 0;
	padding: 0;
	font-family: proxima-nova;
}
html {
	overflow-x: hidden;

}
html.nav-closed {
  overflow:hidden;
}
body {
	position: relative;
	height: 100%;
}
a {
	text-decoration: none;
}

::selection{background:#eee;background:rgba(0,0,0,0.08)}

::-webkit-scrollbar {
    width: 0px;
}
 
::-webkit-scrollbar-track {
    display: none;
}
 
::-webkit-scrollbar-thumb {
    background-color: #333;
}

/*============GLOBAL STUFF============
=================================*/
.container {
	width: 100%;
	height: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.header-img {
	background: url("/img/poly-BW.jpg") no-repeat center center;
}

.full-img {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*============NAVBAR============
=================================*/

.nav-sensor {
	position: fixed;
	top: 0;
	left: 0;
	height: 4em;
	width: 100%;
	z-index: 10;
}

nav#bar-navigation {
  width: 100%;
  margin: 0;
  padding: 18px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  /*background: rgba(27,147,199, 1);*/
  cursor: pointer;
}.fullpage-nav {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: ;
  position: fixed;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background: #e8ebed;
  overflow-y: scroll;
}

.fullpage-nav.nav-closed {
  -webkit-transform: translate3d(0%, -100%, 0);
  transform: translate3d(0%, -100%, 0);
}

.fullpage-nav-links {
  padding-top: 100px;
  margin: 0 auto;
  max-width: 50em;
}
.fullpage-nav-links h1 {
  font-family: proxima-nova;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 900;
  padding: 5px 0;
  margin: 0em 0;
  color: #e45b5b;
  text-align: center;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom: 1px solid rgba(0,0,0,0);
}

@media (max-width: 500px) {
	.fullpage-nav {
  		width: 100%;
  	}
}

@media (max-width: 1000px) {
  .fullpage-nav-links h1 {
    font-size: 2em;
  }

  .fullpage-nav-links{
    width: 98%;
  }
}

.nav-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}nav#bar-navigation:hover {
  background: rgba(255, 255, 255, 0.1);
}.fullpage-nav-links h1:hover {
  color: #e45b5b;
  border-bottom: 1px solid #e45b5b;
}a.logo {
  font-family: proxima-nova;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  padding: 0 1em;
}span.hamburger-description {
  color: #fff;
  float: right;
  font-size: 15px;
  font-family: proxima-nova;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0.35em 0;
}a.hamburger {
  float: right;
  font-weight: 900;
  font-size: 24px;
  color: #fff;
  padding-right: 1em;
  padding-left: 0.3em;
}

/*Solid bar*/
nav#bar-navigation.hidden {
  opacity: 0;
  -webkit-transform: translate3d(0,-80px,0);
  -moz-transform: translate3d(0,-80px,0);
  -ms-transform: translate3d(0,-80px,0);
  -o-transform: translate3d(0,-80px,0);
  transform: translate3d(0,-80px,0);
  -webkit-transition: -webkit-transform .2s,background .3s,color .3s,opacity 0 .3s;
  -moz-transition: -moz-transform .2s,background .3s,color .3s,opacity 0 .3s;
  -o-transition: -o-transform .2s,background .3s,color .3s,opacity 0 .3s;
  transition: transform .2s,background .3s,color .3s,opacity 0 .3s;
}nav#bar-navigation.visible {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform .2s,background .3s,color .3s;
  -moz-transition: -moz-transform .2s,background .3s,color .3s;
  -o-transition: -o-transform .2s,background .3s,color .3s;
  transition: transform .2s,background .3s,color .3s;
}nav#bar-navigation.detached {
  background: #C6CFD4;
  background: #FFF;
  /*background: rgba(27,147,199, 1);*/
  /*box-shadow: 0px 3px rgba(0,0,0,0.1);*/
  position: fixed;
  top: 0;
}.detached a.logo,
.detached a.hamburger,
.detached span.hamburger-description {
  color: #e45b5b;
}

/*============HEADER============
=================================*/
.banner {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background: url("/img/poly-BW.jpg") no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .banner {
    height: 1024px;
  }
}
 
/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .banner {
    height: 768px;
  }
}
 
/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  .banner {
    height: 500px;
  }
}

@media (max-width: 680px) {
	.banner {

	}
}
.banner .container {
	top: 30%;
	position: absolute;
	max-width: 100%;
}.banner .wrap {
	margin: 0 auto;
	max-width: 1000px;
}
.banner h1 {
	letter-spacing: -0.05em;
	font-size: 4em;
	text-align: left;
	line-height: 0.95;
	max-width: 750px;
	width: 90%;
	color: #2f363b;
	margin-left: 4%;
}

.banner h1 span {
	background-color: #FFF;
}

.scroll-down {
	position: absolute;
	bottom: -6em;
	width: 100%;
}
.scroll-down .wrap {
	transition: all .5s cubic-bezier(0.86,0,.07,1);
	height: 10em;
	width: 10em;
	border-radius: 100%;
	margin: 0 auto;
	cursor: pointer;
	overflow: hidden;
}.scroll-down.active .wrap,
.scroll-down .wrap:hover {
	background-color: #FFF;
}.scroll-down p {
	transition: all .5s cubic-bezier(0.86,0,.07,1);
	text-align: center;
	color: #FFF;
	font-size: 3em;
	margin: 0;
	padding-bottom: 2em;
	-webkit-transform: translate3d(0, -0.5em, 0);
    transform: translate3d(0, -0.5em, 0);
}.scroll-down.active p,
.scroll-down p:hover {
	color: #666;
	-webkit-transform: translate3d(0, 0.1em, 0);
    transform: translate3d(0, 0.1em, 0);
}

@media (min-width: 1000px) {
	.banner h1 {
		font-size: 6em;
		max-width: 1000px;
	}.banner .container {
		top: 22%;
	}
}

@media (max-width: 720px) {
	.banner h1 {
		font-size: 2.5em;
	}.banner .container {
		top: 25%;
	}
}

/*============GRID============
=================================*/

.inner {
	z-index: 1;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	margin: 0 auto;
	width: 100%;
	background-color: #FFF;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-family: proxima-nova;
}.inner.social {
	max-width: 1000px;
}.col-2-Right {
	position: relative;
	float: left;
	width: 50%;
	overflow: hidden;
}.col-2-Left {
	position: relative;
	float: right;
	width: 50%;
	overflow: hidden;
}
.col-2-Right.announcement {
border-right: 1px solid #f0f0f0;
}
.col-2-Right.announcement,
.col-2-Left.announcement{
	width: 38%;
	padding: 8%;
}.col-3-Right {
	position: relative;
	float: left;
	width: 33.3333%;
	margin-right: 1%;
	overflow: hidden;
}.col-3-Mid {
	position: relative;
	float: right;
	width: 33.3333%;
	margin: 0 1%;
	overflow: hidden;
}.col-3-Left {
	position: relative;
	float: right;
	width: 33.3333%;
	margin-left: 1%;
	overflow: hidden;
}.col-1 {
	width: 92%;
	padding: 4%;
}.grid-cover {
	display: table;
	width: 104%;
	left: 10%;
	top: 10%;
	bottom: -2%;
	right: -2%;
	overflow: hidden;
	position: absolute;
	opacity: 1;
}.grid-cover img {
	width: 80%;
}


#instagramImage1 {
	opacity: 0.6;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

#instagramImage2,
#instagramImage3,
#instagramImage4,
#instagramImage5{
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;

	opacity: 0.6;
}#instagramImage5 {	opacity: 1; background-color: #333;}

#instagramImage1:hover,
#instagramImage2:hover,
#instagramImage3:hover,
#instagramImage4:hover {
	opacity: 1;
}

.4-grid {
	opacity: 0.4;
}

@media(max-width: 600px ){
	.col-2-Left,
	.col-2-Right {
		float: none !important;
		width: 50% !important;
		display: block;
	}
	.col-2-Right.announcement,
	.col-2-Left.announcement{
		float: none !important;
		width: 32% !important;
		display: inline-block;
	}
	.col-3-Left,
	.col-3-Right,
	.col-3-Mid {
		float: none !important;
		width: 100% !important;
		display: block;
	}.col-2-Left {
		float: left !important;
	}
	.col-2-Right.4-grid {
		float: none !important;
		width: 50% !important;
		display: block;
	}
	.inner.first {
		display: inline-block;
	}
	.inner p {
		font-size: 1em;
	}
	#instagramImage1,
	#instagramImage2,
	#instagramImage3,
	#instagramImage4,
	#instagramImage5 {
	}
}

@media (max-width: 600px) {
	.colLeft,
	.colRight {
		float: none !important;
		width: 100% !important;
		display: block;
	}
	.col-3 {
		float: none !important;
		width: 100% !important;
		display: block;
	}

	.inner,
	.inner.content-center {
		display: block;
	}
	.inner p {
		font-size: 1em;
	}
}

span.col-link {
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-size: 1em;
	font-weight: 900;
	text-transform: uppercase;
	color: #2a2b2f;
}a.col-link span {
	padding-right: 0em;
	-moz-transition: padding-right 0.2s ease;
	-o-transition: padding-right 0.2s ease;
	-webkit-transition: padding-right 0.2s ease;
	transition: padding-right 0.2s ease;
}a.col-link span:hover {
	padding-right: 1em;
}
a.col-link a {

}.col-2-left a, .col-2-right a {font-size: 1.3em;}


.insta-img {
	display: table-cell;
	padding: 50% 0;
	width: 100%;
	float: right;
	overflow: hidden;
}.instagramImagePositioning {
	background-position: center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}.instagramCaption {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	line-height: 1.1;
	font-weight: 700;
	font-size: 1.2em;
	text-align: center;
	padding: 50% 0;
}

.feature {
	text-align: center;
}.feature h1 {
	color: #2f363b;
	font-size: 2em;
	margin: 0.2em;
}

.grids {
  padding-top: 55px;
  padding-bottom: 35px;
  max-width: 105%;
  margin: 0;
  text-align: center;
  color: #333;
  font-size: 19px;
  font-size: 1.1875rem;
  /*background-color: rgb(36, 41, 51);*/
  background-color: #FFF;
}

.grid-3 {
  display: inline-block;
  margin: 0 3% 0 3%;
  vertical-align: top;
  width: 26%;
}

.grid-3 a.icon {
  font-size: 5em;
  color: #2f363b;
  padding: 0.001em 0.165em;
  border-radius: 100px;
  z-index: 100;
  background: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  border: 3px solid rgba(0,0,0,0);
}.grid-3 a.icon:hover  {
	color: #b5a460;
}

.grid-3 h3 {
  color: #2f363b;
  font-size: 1.5em;
  margin: 25px 0;
  font-weight: 900;
}

.grid-3 p {
  font-size: 0.9em;
  color: #6d6e71;
  font-family: Helvetica;
  line-height: 1.5em;
  text-align: center;
}

@media (max-width: 550px) {
  .grid-3 {
    display: block;
    width: 95%;
    border-top: 1px solid #666;
    padding-top: 20px;
  }

  .grid-3 p {
    text-align: center;
  }
}

/*============AWARDS============
=================================*/

.awards {
	padding: 2em 0;
}.awards .pure-u-1-3 a {
	color: #2f363b;
	font-size: 3.5em;
}.awards .pure-u-1-3 {
	text-align: center;
	position: relative;
}
.awards .pure-u-1-3 h3, 
.awards .pure-u-1-3 p {
	position: absolute;
	top: 2em;
	width: 100%;
}

.awards .pure-u-1-3 p {
	top: 2.6em;
}

/*============MAIN============
=================================*/

.main-body {
	position: relative;
}

.container {

}
.copy-width {
	float: left;
	width: 81.53333333333335%;
	margin: 0 .8999999999999999%;
	margin-left: 9.233333333333334%;
	clear: left;
	float: none;
}.copy-width h2 {
	-webkit-font-smoothing: antialiased;
	letter-spacing: -0.05em;
	line-height: 1;
	margin: 1.5em 0 0.8em;
	font-size: 4.5em;
	text-align: center;
	z-index: 10;
	font-weight: 900;
	position: relative;
	color: #2f363b;
	text-transform: uppercase;
	font-family: Futura STD;
}
#header-wreath {
	position: absolute;
	width: 50%;
	left: 25%;
	top: -1em;
	z-index: -20;
}
.copy-width h4.subtitle {
	color: #777;
	text-align: center;
}.inner .colLeft p,
.copy-width p {
	position: relative;
	z-index: 10;
	font-family: freight;
	font-size: 1.65em;
	font-weight: 100;
	line-height: 1.65em;
	margin: 0.7em 0;
	color: #2f363b;
}.copy-width p a {
	color: #e45b5b;
}

.colRight {
	float: left;
	width: 50%;
}

.inner img {
	width: 80%;
}

.colLeft {
	text-align: left;
	padding-right: 10%;
	float: right;
	width: 50%;
}

.inner .colLeft p {
	padding-left: 8%;
	text-align: justify;
}

h4.page-logo {
	text-align: center;
	margin: 100px 0 -80px;
	display: block;
}h4.page-logo span {
	background-color: #000;
	color: #FFF;
	padding: 10px 15px;
	border-radius: 100%;
}

@media (min-width: 1080px) {
	.copy-width h2 {
		font-size: 8em;
		margin: 1em 0 0.5em;
	}
	#header-wreath {
		position: absolute;
		width: 100%;
		left: 0;
		top: -1em;
		z-index: -20;
	}
}

@media (max-width: 680px) {
	.copy-width h2 {
		font-size: 2.5em;
	}.inner .colLeft p,
	.copy-width p {
		font-size: 1.1em;
	}h4.page-logo {
		margin: 50px 0 -40px;
	}h4.page-logo span {
		font-size: 0.5em;
		padding: 5px 7.5px;
	}.inner .colLeft p {
		width: 80%;
	}
}

.line-divide {
	width: 80%;
	max-width: 200px;
	height: 3px;
	background-color: #C6CFD4;
	margin: 2em auto;
}

/*============#bigtransition============
=================================*/

#big-transition {
	padding-bottom: 5em;
}

.embed-site {
	width: 80%;
	margin: 0 auto;
	margin-top: 4em;
}.embed-site img {
	width: 100%;
}
.browser-bar {
	position: relative;
	width: 100%;
	height: 11px;
	line-height: 11px;
	border-radius: 3px 3px 0 0;
	height: 21px;
	font-size: 1px;
	background-color: #e0e0e0;
	line-height: 26px;
}.browser-button:first-child {
	
}.browser-button {
	height: 6px;
	margin-left: 5px;
	display: inline-block;
	font-size: 9px;
	line-height: 20px;
	background-color: #7f7f7f;
	width: 6px;
	border-radius: 100%;
}

@media (max-width: 680px) {
	.embed-site {
		width: 100%;
	}
}

.laptop {
	margin: 90px 0 40px;
}

.pure-g {
			-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
}

/*============QUOTE============
=================================*/

#quote, #quote2 {
	padding: 2em 0;
	background-color: #C6CFD4;
	color: #fff;
	position: relative;
}#quote p, #quote2 p {
	padding-right: 5%;
}

blockquote {
	font-family: freight;
	font-size: 2.5em;
	text-align: left;
	font-style: italic;
	color: #FFF;
}

@media (max-width: 680px) {
	blockquote {
		font-size: 1.5em;
	}
}

/*============CREATION============
=================================*/
#creation {
	position: relative;
	padding-bottom: 5em;
}#creation .copy-width p {
	font-weight: 400;
}#creation .inner {
	max-width: 100%;
}
.matic-svg1 {
	position: relative;
	width: 100%;
	z-index: 0;
}
.line-drawing1 path {
	fill: none;
	stroke: #B0B9BE;
	stroke-width: 3;
}

#creation .pure-u-1-2 .copy-width p {
	text-align: right;
	font-family: proxima-nova;
}

#creation .colRight {
	min-height: 0em;
}

.photogrid img.pure-img {
	overflow: hidden;
}.photogrid {
	overflow: hidden;
}

/*============FOOTER============
=================================*/
footer {
	background-color: #f2f2f2;
	padding: 6em 0;
}
footer a {
	color: #e45b5b;
}
footer h5 {
	text-align: center;
	margin: 0;
}footer h5.follow {
	font-size: 1.5em;
	margin-bottom: 1em;
	color: #fff;
}
footer h5.follow span {
	color: #fff;
}
footer h5.follow a {
	border-radius: 100px;
	padding: 10px 20px;
	color: #FFF;
	background-color: #C6CFD4;
}

/*============ANIMATIONS============
=================================*/

.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
  -webkit-animation:ripple 1s cubic-bezier(.29,.97,.21,.82);
   -moz-animation:ripple 1s cubic-bezier(.29,.97,.21,.82);
    -ms-animation:ripple 1s cubic-bezier(.29,.97,.21,.82);
     -o-animation:ripple 1s cubic-bezier(.29,.97,.21,.82);
        animation:ripple 1s cubic-bezier(.29,.97,.21,.82);
}

.ripplelink {
	overflow: hidden;
}


@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(1.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(1.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(1.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(1.5);}
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
            transform: translate3d(0, 5%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

/*============PONG============
=================================*/

canvas#pong {
  position:fixed; 
  top:0; 
  left:0; 
  z-index:1000000000; 
  background: #FFF;
  cursor: crosshair;
}

p#score {
  position:fixed; 
  top:0; 
  left:0; 
  z-index:1000000000; 
  font-size:60px; 
  color:#666;
}